<div class="field" id="sylius-api-login">
    {{ form_errors(form.email) }}
    {{ form_row(form.email, {'attr': {'data-url': path('sylius_shop_ajax_user_check_action')}}) }}

    <div id="sylius-api-login-form">
        <input type="password" placeholder="{{ 'sylius.ui.password'|trans }}">
        <input type="hidden" name="_csrf_shop_security_token" value="{{ csrf_token('shop_authenticate') }}">
        <a class="button" href="#" id="sylius-api-login-submit" data-url="{{ path('sylius_shop_login_check') }}">
            {{ 'sylius.ui.sign_in'|trans }}
        </a>
    </div>
    <div class="sylius-validation-error red label hidden" id="sylius-api-validation-error"></div>
</div>
