{% macro crumble(crumbs = {}, root_path, root_label) %}
    {% for crumb in crumbs %}
        {% if loop.last %}
            {{ crumb.label }}
        {% elseif crumb.url is defined %}
            <a href="{{ crumb.url }}">{{ crumb.label }}</a>
        {% else %}
            {{ crumb.label }}
        {% endif %}
    {% else %}
        <a href="{{ root_url|default('/') }}">{{ root_label|default('sylius.ui.root'|trans) }}</a>
    {% endfor %}
{% endmacro %}
