{% macro headers(grid, definition, requestAttributes) %}
    {% import '@SyliusShop/Ui/Macro/sorting.html.twig' as sorting %}

    {% for field in definition.fields|sort_by('position') %}
        {% if field.enabled %}
            {% if field.isSortable %}
                {{ sorting.tableHeader(grid, field, requestAttributes) }}
            {% else %}
                <th class="sylius-table-column-{{ field.name }}">{{ field.label|trans }}</th>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if definition.actionGroups.item is defined and definition.getActions('item')|length > 0 %}
        <th>{{ 'sylius.ui.actions'|trans }}</th>
    {% endif %}
{% endmacro %}

{% macro row(grid, definition, row) %}
    <tr>
        {% for field in definition.enabledFields|sort_by('position') %}
            <td>{{ sylius_grid_render_field(grid, field, row) }}</td>
        {% endfor %}
        {% if definition.actionGroups.item is defined and definition.getEnabledActions('item')|length > 0 %}
            <td>
                {% for action in definition.getEnabledActions('item')|sort_by('position') %}
                    {{ sylius_grid_render_action(grid, action, row) }}
                {% endfor %}
                {% if definition.actionGroups.subitem is defined and definition.getEnabledActions('subitem')|length > 0 %}
                    {% for action in definition.getEnabledActions('subitem')|sort_by('position') %}
                        {{ sylius_grid_render_action(grid, action, row) }}
                    {% endfor %}
                {% endif %}
            </td>
        {% endif %}
    </tr>
{% endmacro %}
