{% form_theme form '@SyliusShop/Ui/Form/theme.html.twig' %}

{% import '@SyliusShop/Ui/Macro/messages.html.twig' as messages %}

{{ sonata_block_render_event('sylius.admin.login.before_form', {'form': form}) }}

{% if paths.logo is defined %}
    <img src="{{ asset(paths.logo) }}" id="logo">
{% endif %}

{% if last_error %}
    {{ messages.error(last_error.message) }}
{% endif %}

{{ form_start(form, {'action': action|default('/'), 'attr': {'class': 'ui large loadable form', 'novalidate': 'novalidate'}}) }}
        {{ form_row(form._username, {'value': last_username|default('')}) }}
        {{ form_row(form._password) }}
        {{ form_row(form._remember_me) }}
<input type="hidden" name="_csrf_admin_security_token" value="{{ csrf_token('admin_authenticate') }}">
<button type="submit">Login</button>

{{ sonata_block_render_event('sylius.admin.login.form', {'form': form}) }}

{{ form_end(form, {'render_rest': false}) }}
