{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set product = item.product %}
{% set product_variant = item.variant %}

<tr>
    <td>
        {% include '@SyliusShop/Product/_info.html.twig' with {'variant': product_variant} %}
    </td>
    <td>
        {% if item.unitPrice != item.discountedUnitPrice %}
            <span class="sylius-regular-unit-price">{{ money.convertAndFormat(item.unitPrice) }}</span>
        {% endif %}
        <span class="sylius-unit-price">{{ money.convertAndFormat(item.discountedUnitPrice) }}</span>
    </td>
    <td>
        {{ form_widget(form.quantity) }}
    </td>
    <td>
        <button type="button"
                class="sylius-cart-remove-button"
                data-redirect="{{ path('sylius_shop_cart_summary') }}"
                data-url="{{ path('sylius_shop_ajax_cart_item_remove', {'id': item.id}) }}"
                data-csrf-token="{{ csrf_token(item.id) }}">
            X
        </button>
    </td>
    <td>
        <span class="sylius-total">{{ money.convertAndFormat(item.subtotal) }}</span>
    </td>
</tr>