{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<table id="sylius-product-variants">
    <thead>
    <tr>
        <th>{{ 'sylius.ui.variant'|trans }}</th>
        <th>{{ 'sylius.ui.price'|trans }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for variant in product.variants %}
        <tr>
            <td>
                {{ variant.name }}
                {% if product.hasOptions() %}
                        {% for optionValue in variant.optionValues %}
                                {{ optionValue.value }}
                        {% endfor %}
                {% endif %}
            </td>
            <td>{{ money.calculatePrice(variant) }}</td>
            <td>
                {{ form_widget(form.cartItem.variant[loop.index0], {'label': false}) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
