{% extends '@SyliusShop/Account/layout.html.twig' %}

{% form_theme form '@SyliusShop/Ui/Form/theme.html.twig' %}

{% block breadcrumb %}
    <a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a>
    <a href="{{ path('sylius_shop_account_dashboard') }}">{{ 'sylius.ui.my_account'|trans }}</a>
    {{ 'sylius.ui.change_password'|trans }}
{% endblock %}

{% block subcontent %}
    {{ form_start(form, {'action': path('sylius_shop_account_change_password'), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
    {{ 'sylius.ui.change_password'|trans }}
    {{ 'sylius.ui.set_a_new_password_for_your_account'|trans }}

    {{ sonata_block_render_event('sylius.shop.account.change_password.after_content_header', {'form': form}) }}

    {{ form_row(form.currentPassword) }}
    {{ form_row(form.newPassword.first) }}
    {{ form_row(form.newPassword.second) }}

    {{ sonata_block_render_event('sylius.shop.account.change_password.form', {'form': form}) }}

    <button type="submit">{{ 'sylius.ui.save_changes'|trans }}</button>
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
