{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block breadcrumb %}
    <a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a>
    {{ 'sylius.ui.my_account'|trans }}
{% endblock %}

{% block subcontent %}
    {{ 'sylius.ui.my_account'|trans }}
    {{ 'sylius.ui.manage_your_personal_information_and_preferences'|trans }}

    {{ sonata_block_render_event('sylius.shop.account.dashboard.after_content_header', {'customer': customer}) }}

    <div id="customer-information">
        {{ customer.fullName }}
        {{ customer.email }}
        {% if customer.user.verified %}
            {{ 'sylius.ui.verified'|trans }}
        {% else %}
            {{ 'sylius.ui.not_verified'|trans }}
        {% endif %}
    </div>

    {{ sonata_block_render_event('sylius.shop.account.dashboard.after_information', {'customer': customer}) }}

    <a href="{{ path('sylius_shop_account_profile_update') }}">{{ 'sylius.ui.edit'|trans }}</a>
    <a href="{{ path('sylius_shop_account_change_password') }}">{{ 'sylius.ui.change_password'|trans }}</a>
    {% if not customer.user.verified %}
        <form id="verification-form" action="{{ path('sylius_shop_user_request_verification_token') }}" method="post">
            <button type="submit">
                {{ 'sylius.ui.verify'|trans }}
            </button>
        </form>
    {% endif %}
{% endblock %}
