{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Ui/Form/theme.html.twig' %}

{% block content %}
    {{ 'sylius.ui.reset_password'|trans }}
    {{ 'sylius.ui.set_a_new_password_for_your_account'|trans }}

    {{ sonata_block_render_event('sylius.shop.request_password_reset_token.after_content_header') }}
    {{ form_start(form, {'action': path('sylius_shop_request_password_reset_token'), 'attr': {'class': 'ui large loadable form', 'novalidate': 'novalidate'}}) }}
    {{ form_row(form.email) }}

    {{ sonata_block_render_event('sylius.shop.request_password_reset_token.form', {'form': form}) }}

    {{ form_row(form._token) }}
    <button type="submit">{{ 'sylius.ui.reset'|trans }}</button>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
