{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Ui/Form/theme.html.twig' %}

{% block content %}
    {{ 'sylius.ui.reset_password'|trans }}
    {{ 'sylius.ui.set_a_new_password_for_your_account'|trans }}

    {{ form_start(form, {'action': path('sylius_shop_password_reset', {'token' : user.passwordResetToken}), 'attr': {'class': 'ui large loadable form', 'novalidate': 'novalidate'}}) }}
    {{ form_row(form.password.first, {'label': 'sylius.form.user_reset_password.new'|trans}) }}
    {{ form_row(form.password.second, {'label': 'sylius.form.user_reset_password.confirmation'|trans}) }}
    {{ form_row(form._token) }}
    <button type="submit">{{ 'sylius.ui.reset'|trans }}</button>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
