{% if active is not defined or active == 'address' %}
    {% set s = {'address': 'active', 'select_shipping': 'disabled', 'select_payment': 'disabled', 'complete': 'disabled'} %}
{% elseif active == 'select_shipping' %}
    {% set s = {'address': 'completed', 'select_shipping': 'active', 'select_payment': 'disabled', 'complete': 'disabled'} %}
{% elseif active == 'select_payment' %}
    {% set s = {'address': 'completed', 'select_shipping': 'completed', 'select_payment': 'active', 'complete': 'disabled'} %}
{% else %}
    {% set s = {'address': 'completed', 'select_shipping': 'completed', 'select_payment': 'completed', 'complete': 'active'} %}
{% endif %}

{% set order_requires_payment = sylius_is_payment_required(order) %}
{% set order_requires_shipping = sylius_is_shipping_required(order) %}

{% set s_count = 'four' %}
{% if not order_requires_payment and not order_requires_shipping %}
    {% set s_count = 'two' %}
{% elseif not order_requires_payment or not order_requires_shipping %}
    {% set s_count = 'three' %}
{% endif %}

<div class="{{ s_count }} steps">
    <a class="{{ s['address'] }}" href="{{ path('sylius_shop_checkout_address') }}">

        {{ 'sylius.ui.address'|trans }}
        {{ 'sylius.ui.fill_in_your_billing_and_shipping_addresses'|trans }}

    </a>
    {% if order_requires_shipping %}
        <a class="{{ s['select_shipping'] }}" href="{{ path('sylius_shop_checkout_select_shipping') }}">

            {{ 'sylius.ui.shipping'|trans }}
            {{ 'sylius.ui.choose_how_your_goods_will_be_delivered'|trans }}

        </a>
    {% endif %}
    {% if order_requires_payment %}
        <a class="{{ s['select_payment'] }}" href="{{ path('sylius_shop_checkout_select_payment') }}">
            {{ 'sylius.ui.payment'|trans }}
            {{ 'sylius.ui.choose_how_you_will_pay'|trans }}
        </a>
    {% endif %}
    <a class="{{ s['complete'] }}" href="{{ path('sylius_shop_checkout_complete') }}">

        {{ 'sylius.ui.complete'|trans }}
        {{ 'sylius.ui.review_and_confirm_your_order'|trans }}
    </a>
</div>