{% extends '@SyliusShop/Account/AddressBook/layout.html.twig' %}

{% form_theme form '@SyliusShop/Ui/Form/theme.html.twig' %}

{% block subcontent %}
    {{ 'sylius.ui.address_book'|trans }}
    {{ 'sylius.ui.add_address'|trans }}

    {{ sonata_block_render_event('sylius.shop.account.address_book.create.after_content_header', {'address': address}) }}

    {{ form_start(form, {'action': path('sylius_shop_account_address_book_create'), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
    {% include '@SyliusShop/Common/Form/_address.html.twig' with {'form': form} %}

    <a href="{{ path('sylius_shop_account_address_book_index') }}">
        {{ 'sylius.ui.cancel'|trans }}
    </a>
    <button type="submit">
        {{ 'sylius.ui.add'|trans }}
    </button>

    {{ sonata_block_render_event('sylius.shop.account.address_book.create.form', {'address': address}) }}

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
