{% set ancestors = taxon.ancestors|reverse %}

<a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a>/
{% for ancestor in ancestors %}
    {% if ancestor.root %}
        {{ ancestor.name }}
    {% else %}
        <a href="{{ path('sylius_shop_product_index', {'slug': ancestor.slug, '_locale': ancestor.translation.locale}) }}">{{ ancestor.name }}</a>
    {% endif %}
{% endfor %}
{{ taxon.name }}
