{% set product = variant.product %}

{% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'filter': 'sylius_shop_product_tiny_thumbnail'} %}
<a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}">{{ product.name }}</a>
{{ variant.code }}
{% if product.hasOptions() %}
    {% for optionValue in variant.optionValues %}
        <div data-sylius-option-name="{{ optionValue.name }}">
            {{ optionValue.value }}
        </div>
    {% endfor %}
{% elseif variant.name is not null %}
    {{ variant.name }}
{% endif %}
